<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.18.0/maps/maps-web.min.js"></script>
    <script>
      tt.setProductInfo("buildings", "1.0");

      //...

      // Initialize the TomTom map in the element with an id set to 'map'
      tt.map({
        key: "U2dJwWRYtXpuk1skG71wVG4vIqtJbZvV",
        container: "map",
      });
    </script>
  </body>
</html>
