<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Offview | Password reset</title>
  </head>
  <body>
    <form>
      <h2>Reset your password</h2>
      <label for="password">New Password</label>
      <input type="password" name="password" required />
      <label for="password">Confirm your Password</label>
      <input type="password" name="confirm" required />
      <button>Reset your password</button>
    </form>
    <script>
      const form = document.querySelector("form");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        // get values
        const password = form.password.value;
        const comfirm = form.confirm.value;

        const res = await fetch("/users/resetpassword", {
          method: "POST",
          body: JSON.stringify({ password, comfirm }),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        console.log(data);
      });
    </script>
  </body>
</html>
