:root {
  --whiteColor: #ffffff;
  --lightGrey-0: #cdcdcd;
  --lightGrey-1: #cdcdcd;
  --lightGrey-2: #f5f5f5;
  --lightGrey-3: #afafae;
  --Grey-500: #878786;
  --Grey-600: #4f4f4e;
  --black-0: #0b0b0b;
  --greenToBlack: #175041;
  --greenPea: #298f74;
  --lightRed: #f9625f;
  --greenPeaBold: #0e3027;
  --lightGreen: #717170;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f0f0f0;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: var(--fontSizeLiki);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Messina Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}

.subTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--Grey-500);
}
.smallText {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: var(--black-0);
  margin-bottom: 1rem;
}

.verticalLine {
  width: 1px;
  height: 50px;
  background: #e1e1e1;
  margin: 24px auto;
}

.errorMessage {
  color: #eb5353;
  margin-top: 8px;
}

@font-face {
  font-family: "Messina Sans";
  src: url("../public/assets/fonts/MessinaSans-Bold.ttf");
  src: url("../public/assets/fonts/MessinaSans-Regular.ttf");
}
